<%- contentFor('page') %>

<h2><%= title %></h2>
<% if (category_list.length) { %>
<ul class="page-list">
  <% category_list.forEach(category => { %>
  <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
  <% }) %>
</ul>
<% } else { %>
<p>There are no categories.</p>
<%} %>