<%- contentFor('page') %>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<% if (error.status===404) { %>
<p class="errors-list">This page does not exist</p>
<% } else { %>
<pre><%= error.stack %></pre>
<% } %>