<%- contentFor('page') %>

<h2><%= title %></h2>
<% if (genre_list.length) { %>
<ul class="page-list">
  <% genre_list.forEach(genre => { %>
  <li><a href="<%= genre.url %>"><%= genre.name %></a></li>
  <% }) %>
</ul>
<% } else { %>
<p>There are no genres.</p>
<%} %>