<%- contentFor('page') %>

<h2><%= title %></h2>
<p>Welcome to <em>Inventory Application</em>, a basic Express website built following the original <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Tutorial_local_library_website">local library MDN tutorial</a>.</p>
<p>The inventory has the following record counts:</p>
<ul>
  <li><strong>Products: </strong> <%= product_count %></li>
  <li><strong>Categories: </strong><%= category_count %></li>
</ul>