<%- contentFor('page') %>

<h2><%= title %></h2>
<p>Welcome to <em>Inventory Application</em>, a basic Express website built following the original <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Tutorial_local_library_website">local library MDN tutorial</a>.
  <br>
  For this version I used <em>ejs</em> instead of pug and <em>postgreSQL</em> instead of mongoDB.
</p>
<p>The inventory has the following record counts:</p>
<ul>
  <li style="margin-bottom: 10px;">
    <a href="/products">
      Products: <%= product_count %>
    </a>
  </li>
  <li>
    <a href="/categories">
    Categories: <%= category_count %>
    </a>
  </li>
</ul>