<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="content">
    <header>
      <h1><a href="/">Inventory Application</a></h1>
    </header>
    <main>
      <aside id="sidebar">
        <nav>
          <ul>
            <li><a href="/inventory">Home</a></li>
            <li><a href="/inventory/categories">All categories</a></li>
            <li><a href="/inventory/products">All products</a></li>
            <hr>
            <li><a href="/inventory/category/create">Add new category</a></li>
            <li><a href="/inventory/product/create">Add new product</a></li>
          </ul>
        </nav>
      </aside>
      <section id="dynamic-page">
        <%- page %>
      </section>
    </main>
    <footer>
      <p>Copyright © 2024 ValerioL94</p>
      <a href="https://github.com/ValerioL94">
        <img class="logo" src="/images/github-mark-white.svg" alt="github logo" />
      </a>
    </footer>
  </div>
</body>

</html>