<%- contentFor('page') %>

<h2><%= title %></h2>
<% if (product_list.length) { %>
<ul class="page-list">
  <% product_list.forEach(product => { %>
  <li><a href="/products/<%= product.id %>"><%= product.name %></a></li>
  <% }) %>
</ul>
<% } else { %>
<p>There are no products.</p>
<%} %>