html,
body {
  height: 100%;
  margin: 0;
  font:
    18px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
  color: white;
  background: rgb(70, 70, 70);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
a {
  color: #e1ff00;
  transition: color ease-in-out 0.2s;
  text-decoration: none;
}
a:hover {
  color: #ff6600;
}
header {
  text-align: center;
  border-bottom: 1px solid white;
}
main {
  height: 100%;
  display: flex;
}
#sidebar {
  min-width: 200px;
  padding: 25px;
  margin-right: 25px;
}
nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 25px 0;
}

hr {
  border-color: rgba(255, 255, 255, 0.1);
}

#dynamic-page {
  padding: 25px;
}

.page-list li {
  margin: 15px 0;
}

.detail-list {
  margin-left: 25px;
}

.detail-list dd {
  margin: 0 0 25px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid white;
}

.logo {
  height: 25px;
}
