html,
body {
  height: 100%;
  margin: 0;
  font:
    18px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
a {
  color: rgb(70, 70, 255);
  transition: all ease-in-out 0.1s;
  text-decoration: none;
}
a:hover,
a:focus {
  color: blue;
  font-weight: 600;
  outline: none;
  padding-left: 5px;
}

header {
  text-align: center;
  border-bottom: 2px solid;
  background-color: cornflowerblue;
}
header a {
  color: black;
}
header a:hover,
header a:focus {
  padding: inherit;
}
main {
  height: 100%;
  display: flex;
}
#sidebar {
  width: 25%;
  max-width: 250px;
  padding: 25px;
  margin-right: 3px;
  box-shadow: 0px 5px 10px 0px black;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 25px 0;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: -3px 3px 5px 0px gray;
}

nav a {
  display: block;
  border-radius: 10px;
  padding: 5px 5px 5px 15px;
}
nav a:hover {
  background-color: blue;
  color: white;
  padding: 5px 5px 5px 20px;
}

hr {
  border-color: transparent;
}

#dynamic-page {
  width: 100%;
  padding: 25px;
  background-color: antiquewhite;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  padding: 25px;
  box-shadow: -3px 3px 10px -3px;
}
.page-list li {
  border-bottom: 1px solid black;
  margin: 25px 0;
}

.detail-list {
  margin-left: 25px;
}

.detail-list dd {
  margin: 0 0 25px;
}

.form-group {
  max-width: 900px;
}
.form-control {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid;
  border-radius: 5px;
  font-size: 0.8rem;
}
.form-control:hover,
.form-control:focus {
  border: 2px solid blue;
  outline: none;
}

.form-submit {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  color: blue;
}
.form-submit:hover,
.form-submit:focus {
  background-color: blue;
  color: white;
  border-color: blue;
  outline: none;
}
.errors-list {
  color: crimson;
  font-weight: 600;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 2px solid;
  background-color: cornflowerblue;
}
footer a {
  transition: transform ease-in-out 0.5s;
}
footer a:hover,
footer a:focus {
  padding: 0;
  transform: scale(1.25);
}
.logo {
  height: 25px;
}

@media screen and (max-width: 425px) {
  main {
    flex-direction: column;
    height: auto;
  }
  #sidebar {
    width: auto;
    max-width: none;
    box-shadow: none;
    border-bottom: 1px solid black;
  }
  #dynamic-page {
    width: auto;
  }
  nav li {
    margin: 5px 0;
  }
}
